
.contact{
  display: flex;
}
/*******Mobile********/
@media only screen and (max-width: 1099px) {
  .contact{
    flex-direction: column;
  }

  .contactDetails{
    background-color: #2c3345;
    flex-direction: column;
  }

  .night{
    display: none;
  }
  
  .detail{
    margin-top: 10%;
  }

  .contactForm, .contactDetails{
    width: 100%;
  }
}

/*******DESKTOP********/
@media screen and (min-width: 1100px) {
  .contact{
    flex-direction: row;
  }

  .contactDetails{
    background-color: #2c3345;
    flex-direction: row-reverse;
  }
  .detail{
    display: block;
    position: absolute;
    z-index: 1;
    margin-left: 10%; 
  }
  
  .detail1{
    padding-top: 7%; 
  }
  
  .detail2{
    padding-top: 24%; 
  }

  .contactDetails{
    width: 65%;
  }

  .contactForm{
    width: 35%;
  }

}


.contactForm{
  background-color: #B2D9D3;  
  min-height: 77vh;
  display: flex;
  flex-direction: column;
}

.contactDetails{
  min-height: 77vh;
  display: flex;
}
.details{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  padding-left: 10%;
}

.night{
  height: 78vh;
}

.day{
  right: 0;
}

.form{
  width: 60%;
  margin: auto;
  text-align: left;
}