
.navbar-banana{
  background-color: #fff9e5;
  padding: 0;
}

.navbar-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.navbar-expand-md .navbar-collapse {
  margin-left: 1%;
}
.subtitle{
  font-size: 0.7em;
}
.nav-item {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
