.App {
  text-align: center;
}

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header{
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.home{
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.homeLogo{
  margin-top: 50%;
}

.map-logo{
  margin: 40px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.places{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e5;
}
.carusel{
  background-color: #fff9e5;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carusel-title{
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 5%;
}

.carousel .slide{
  width: 90%;
}
.place{
  margin-left: 2%;
  margin-right: 2%;
}
.place-title{
  font-size: 1.2em;
  font-weight: bold;
}
.place-subtitle{
  font-size: 0.6em;
}
.small-p{
  font-size: 0.6em;
}

.about{
  height: 79vh;
}

.title-is-2{
  font-size: 1.2em;
}

.subtitle-is-2{
  font-size: 0.8em;  
}

